* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Podkova', serif;
}

body{
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 1)), url(./assets/images/5641363.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: white;

  margin: 0;
  padding: 0;

  animation: body 0.5s ease-in 1;
}

@keyframes body {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.body{
  background-image: linear-gradient(320deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.5));
  background-attachment: fixed;
  min-height: 100vh;
}

fieldset{
  border: 0px none;
  

  margin: 0 auto;

  border-color: rgb(245, 245, 245);
  overflow: hidden;
  z-index: 1;
}

#header{
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

#header div{
  height: 30px;
  flex: 1;
}

.header-links a{
  position: relative;
  text-decoration: none;
  color: #ffffff;
  
  padding: 10px 10px;
}

.header-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header-links a:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.header-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#body{
  width: 80vw;
  margin: 0 auto;
}

.contact-section{
  max-width: 600px;
  width: 90%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-section h2{
  font-size: 2em;
  margin-bottom: 8px;
  color: rgb(239, 232, 232);
}

.contact-section p{
  margin-bottom: 10px;
  color: rgb(239, 232, 232);
}

.contact-form label{
  display: block;
  margin-top: 10px;
  font-size: 1em;
  color: rgb(239, 232, 232);
}

.contact-form input,
.contact-form textarea{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #031f3ea1;
  border: 1px solid #0057b365;
  border-radius: 5px;
  font-size: 1em;
  color: whitesmoke;
}

.contact-form input{
  height: 50px;
}

.contact-form input:focus,
.contact-form textarea:focus{
  background-color: #031f3e;
  outline: none;
}

.contact-form button{
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.contact-form button:hover{
  background-color: #0056b3;
}

.link-div{
  width: 100%;
  margin: 0 auto;
}

.link{
  font-style: italic;
  position: relative;
  font-weight: 800;
}

.link a{
  text-decoration: none;
  color: white;
}

.link a:hover{
  color: #007bff;
}

.link ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.link :hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.arrow {
  display: inline-block;
  animation: pointing 1.2s ease-in-out infinite;
}

@keyframes pointing {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.share{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.share a{
  color: white;
  transition: .4s ease-in-out;
}

.share a:hover{
  color: #007bff;
}

@media (max-width: 600px) {
  .contact-section{
    padding: 15px;
  }
  
  .contact-section h2{
    font-size: 1.5em;
  }
  
  .contact-form button{
    width: 100%;
  }
}

.hamburger{
  display: flex;
  flex-direction: column;

  position: fixed;
  top: calc(100vh - 96vh);
  right: 22px;
}

.hamburger :hover{
  cursor: pointer;
}

.hamburger div{
  height: 5px;
  width: 30px;
  background-color: #0056b3;
  margin-bottom: 3px;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0, 0.9));

  z-index: 100;

  visibility: hidden;
}

.cancel{
  position: absolute;
  top: -170px;
  right: 0;
}

.cancel:hover{
  cursor: pointer;
}

.menu-items div{
  padding: 20px;
  margin-bottom: 50px;
}

.first-menu{
  margin-top: 30px;
}

.menu-items a{
  position: relative;
  font-size: larger;
  color: #ffffff;

  text-decoration: none;

  padding: 10px 10px;
}

.menu-items a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.menu-items a:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.menu-items :first-child{
  margin-top: 80px;
}

.inner-cursor{
  background-color: white;
  height: 10px;
  width: 10px;
  position: fixed;
  left: 10px;
  mix-blend-mode: overlay;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
}

.inner-cursor.grow{
  width: 20px;
  height: 20px;
  transition: width 0.5s, height 0.5s;
}

.outter-cursor{
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  left: 10px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: ease-in-out, 0.2s;
  z-index: 1000;
}

.outter-cursor.shrink{
  width: 22px;
  height: 22px;
  transition: width 0.5s, height 0.5s;
}

@media (max-width: 800px) {
  .header-links a{
   visibility: hidden;
  }

  .inner-cursor{
    visibility: hidden;
  }

  .outter-cursor{
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .hamburger{
    visibility: hidden;
  }
}