*{
  font-family: 'Podkova', serif;
}

body{
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 1)), url(./assets/images/5641363.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  
  color: white;

  margin: 0;
  padding: 0;

  animation: body 0.5s ease-in 1;
}

@keyframes body {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.body{
  background-image: linear-gradient(320deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.5));
  background-attachment: fixed;
  min-height: 100vh;
}

fieldset{
  border: 0px none;
  

  margin: 0 auto;

  border-color: rgb(245, 245, 245);
  overflow: hidden;
  z-index: 1;
}

#header{
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

#header div{
  height: 30px;
  flex: 1;
}

.header-links a{
  position: relative;
  text-decoration: none;
  color: #ffffff;
  
  padding: 10px 10px;
}

.header-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header-links a:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.header-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger{
  display: flex;
  flex-direction: column;

  position: fixed;
  top: calc(100vh - 96vh);
  right: 22px;
}

.hamburger :hover{
  cursor: pointer;
}

.hamburger div{
  height: 5px;
  width: 30px;
  background-color: grey;
  margin-bottom: 3px;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0, 0.9));

  z-index: 100;

  visibility: hidden;
}

.cancel{
  position: absolute;
  top: -170px;
  right: 0;
}

.cancel:hover{
  cursor: pointer;
}

.menu-items div{
  padding: 20px;
  margin-bottom: 50px;
}

.first-menu{
  margin-top: 30px;
}

.menu-items a{
  position: relative;
  font-size: larger;
  color: #ffffff;

  text-decoration: none;

  padding: 10px 10px;
}

.menu-items a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.menu-items a:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.menu-items :first-child{
  margin-top: 80px;
}

.project-body{
  width: 80vw;
  margin: 0 auto;
}

.title{
  font-size: 2rem;
  font-weight: 600;
  color: white;

  margin-bottom: 20px;

  text-decoration: underline;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
}

.project-card {
  width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.card-image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-overlay div{
  max-width: 90%;
  margin: 0 auto;
}

.project-card:hover .card-overlay {
  opacity: 1;
}

.card-overlay h3 {
  font-size: 1.2em;
  font-weight: bolder;
  margin-bottom: 8px;
}

.card-overlay p {
  font-size: 0.9em;
  margin: 5px 0;
}

/* Responsive Design for two-column layout */
@media (min-width: 768px) {
  .cards-container {
    flex-direction: row;
    gap: 20px;
  }

  .hamburger{
    visibility: hidden;
  }
}

/* Responsive Design for smaller screens */
@media (max-width: 767px) {
  .cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-card {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .card-overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 1;
    text-align: center;
  }
  
  .card-overlay h3 {
    font-size: 1em;
  }

  .card-overlay p {
    font-size: 0.5em;
  }

  .header-links a{
    visibility: hidden;
   }
}

.inner-cursor{
  background-color: white;
  height: 10px;
  width: 10px;
  position: fixed;
  left: 10px;
  mix-blend-mode: overlay;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
}

.inner-cursor.grow{
  width: 20px;
  height: 20px;
  transition: width 0.5s, height 0.5s;
}

.outter-cursor{
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  left: 10px;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: ease-in-out, 0.2s;
  z-index: 1000;
}

.outter-cursor.shrink{
  width: 22px;
  height: 22px;
  transition: width 0.5s, height 0.5s;
}